---
# tasks file for common

- name: Asegurar que el binario de homebrew esté en el PATH
  ansible.builtin.lineinfile:
    path: /etc/paths
    state: present
    line: '/opt/homebrew/bin'
  become: true
  become_user: root

- name: Asegura que los repositorios Tap de homebrew estén activos
  community.general.homebrew_tap:
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_taps }}"

- name: Asegurar que los paquetes Navegadores están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_browsers_packages }}"

- name: Asegurar que los paquetes GNU CLI están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_gnu_packages }}"

- name: Asegurar que los paquetes de manejo de archivos están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_files_packages }}"

- name: Asegurar que los paquetes de las Terminales están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_term_packages }}"

- name: Asegurar que los paquetes de Búsqueda avanzada están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_search_packages }}"

- name: Asegurar que los paquetes de Monitoreo están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_monitor_packages }}"

- name: Asegurar que los paquetes de Bases de datos están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_databases_packages }}"

- name: Asegurar que los paquetes de Redes están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_network_packages }}"

- name: Asegurar que los paquetes de herramientas de Desarrollo están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_develop_packages }}"

- name: Asegurar que los paquetes con GUI de cask están instalados
  homebrew_cask:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_cask_packages }}"

- name: Asegurar que los paquetes de herramientas DevOps están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_devops_packages }}"

- name: Asegurar que los paquetes de herramientas de Video están instalados
  homebrew:
    path: /opt/homebrew/bin/brew
    name: "{{ item.name | default(item) }}"
    state: present
  become: false
  loop: "{{ homebrew_video_packages }}"

- name: Actualiza los paquetes de homebrew
  homebrew:
    update_homebrew: true
    upgrade_all: true
  when: homebrew_upgrade_packages
  become: false

- name: Asegurar que las aplicaciones MAS están instalados
  community.general.mas:
    id: "{{ item.id | default(item) }}"
    state: present
  loop: "{{ mas_apps }}"
  loop_control:
    label: "{{ item.name | default(item.id | default(item)) }}"
  become: false

- name: Actualiza las aplicaciones MAS
  community.general.mas:
    upgrade_all: true
  become: false